<!--Card-->
{% load blog_tags %}
<div class="card mb-4 wow fadeIn">

  <div class="card-header">Recent Posts</div>

  <!--Card content-->
  <div class="card-body">

    <ul class="list-unstyled">
      {% for post in latest_posts %}
      <li class="media my-4">
        <img class="small-image d-flex mr-3" src="{{ post.image.url  }}"
          alt="Generic placeholder image">
        <div class="media-body">
          <a href="{{ post.get_absolute_url }}">
            <h5 class="mt-0 mb-1 font-weight-bold">{{post.title}}</h5>
          </a>
          {{ post.body|markdown|truncatewords:10 }}
        </div>
      </li>
      {% endfor %}

    </ul>

  </div>

</div>
<!--/.Card-->